* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

input {
  color: black;
  background-color: rgba(228, 226, 226, 0.226);
  margin: 0.2rem;
  border: solid 0.05rem;
  border-radius: 2rem;
  height: 1.5rem;
  border-radius: 0.3rem;
}

.formulario h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.formulario {
  margin: auto;
  margin-top: 5rem;
  color: black;
  width: 40%;
  height: 50%;
  font-size: 1.5rem;
  border: solid 0.2rem;
  border-radius: 3rem;
  padding: 2rem;
}
